# Distribution and packaging
*.egg
*.egg-info/ 
build/ 
dist/ 

# Byte-compiled / optimized / DLL files
qcext/__pycache__/ 

# Virtual environment 
venv 
qecsimext 


# Testing 
scratch/
openIDLE.bat

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version
